<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Form </title>

<link href="css/bootstrap.css" type="text/css" rel="stylesheet" />
<link href="css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
<script src="js/bootstrap.js" type="application/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<style>
.for
{
	margin-top:50px;
}
td
{
	padding:10px;
	text-align:center;
}
td:hover
{
	color:#D40000;
}

</style>

<body>
	<div  ng-app="simple" ng-controller="sample"  class="container for">
    	<div class="col-md-8">
        	<form>
            	<div class="form-group col-md-6">
                	<label>First Name</label>
                    <input type="text" class="form-control" ng-model="firstname" />
            </div>
            <div class="form-group col-md-6">
                	<label>Last Name</label>
                    <input type="text" class="form-control" ng-model="lastname" />
            </div>
            <div class="form-group col-md-6">
                	<label>Email</label>
                    <input type="email" class="form-control" ng-model="email" />
            </div>
            <div class="form-group col-md-6">
                	<label>Subject</label>
                    <input type="text" class="form-control" ng-model="subject" />
            </div>
            <div class="form-group col-md-2 col-md-offset-5">
            	<button class="btn btn-success" ng-click = "fields()">SEND</button>
            </div>
            </form>
        </div>
      
	
    <div class="col-md-8 for">
    	<table border="2" width="100%">
        	<tbody>
            	<tr>
                <td>FirstName</td>
                <td>LastName</td>
                <td>Email</td>
                <td>Subject	</td>
                </tr>
                <tr>
                <td>{{first}}</td>
                <td>{{last}}</td>
                <td>{{mail}}</td>
                <td>{{subt}}</td>
                </tr>
            </tbody>
  		  </table>
    </div> 
    </div>
    
    <script>
		var data = angular.module('simple', []);
		data.controller('sample', function($scope)
		{
			$scope.fields = function()
			{
			$scope.first = $scope.firstname;	
			$scope.last  = $scope.lastname;
			$scope.mail  = $scope.email;
			$scope.subt  = $scope.subject;
			}
		});
	
	</script>
    
</body>
</html>
